<mat-accordion>
  <mat-expansion-panel [expanded]="expanded">
    <mat-expansion-panel-header>
      <div class="header">
        <div class="header__time">
          {{reservation | spsReservationTime }}
        </div>
        <div>
          <sps-chip>
            {{reservation.licensePlate}}
          </sps-chip>
        </div>
      </div>
    </mat-expansion-panel-header>
    <div>
      <sps-text>
        {{reservation | address}}
      </sps-text>
    </div>
    <div>
      <sps-text>{{reservation.date | spsDate }}</sps-text>
    </div>
    <div class="tickets">
      <ng-content select="[parkingTickets]"></ng-content>
    </div>
    <mat-action-row>
      <ng-content select="[timer]">
      </ng-content>
      <ng-content></ng-content>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
