@use "../../variables" as vars;

.dashboard {
  display: flex;
}
.wrapper {
  background: vars.$color-panel-background;
}
.dashboard__content {
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
}

.dashboard__content--cards {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap;
}

.dashboard__card {
  display: block;
  max-width: 350px;
  flex: 1;
  height: 10rem;
}
