@use "../../../../variables" as vars;

.search {
  display: flex;
  gap: 2rem;
  align-self: flex-start;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content__loading {
  margin: 0 auto;
}

.pagination {
  width: 100%;
}

@include vars.table();
