@use "../../../../variables" as vars;

.search {
  display: flex;
  gap: 2rem;
  align-self: flex-start;
}

.search, .heading {
  padding-left: 24px;
}
.table__cell {
  font-size: 0.8rem;
  text-align: left;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.pagination, .table {
  width: 100%;
}
