<div class="content">
  <sps-loading-spinner *ngIf="(loading$ | async) else content">
  </sps-loading-spinner>
  <ng-template #content>
    <div class="search" *ngIf="withSearch">
      <mat-form-field appearance="legacy">
        <input #searchField matInput [placeholder]="translations.SEARCH | translate">
        <mat-icon matSuffix *ngIf="!searchField.value">search</mat-icon>
        <button *ngIf="searchField.value" matSuffix mat-icon-button aria-label="Clear" (click)="searchField.value=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <mat-table *ngIf="dataSource" mat-table [dataSource]="dataSource" class="table" matSort>
      <ng-container [matColumnDef]="column.name" *ngFor="let column of columns">
        <mat-header-cell mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{column.translation | translate}}</mat-header-cell>
        <mat-cell mat-cell class="table__cell" *matCellDef="let element"> {{element[column.name] | translate}} </mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="button.name" *ngFor="let button of buttons">
        <mat-header-cell mat-header-cell *matHeaderCellDef>{{button.translation | translate}}</mat-header-cell>
        <mat-cell mat-cell class="table__cell" *matCellDef="let element">
          <button mat-icon-button (click)="button.onClick(element)">
            <mat-icon>{{button.icon}}</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
      <mat-row class="table__row" mat-row *matRowDef="let row; columns: columnNames"></mat-row>
      <tr *matNoDataRow>
        <td colspan="4">No data</td>
      </tr>
    </mat-table>
    <mat-paginator [pageSize]="5" class="pagination"
                   [pageSizeOptions]="[5, 10, 15, 20]">
    </mat-paginator>
  </ng-template>
</div>

