@use "../../../../variables" as vars;
.heading {
  display: flex;
  gap: 5rem;
  padding: 3rem 24px ;
  align-items: center;
}
.heading__title {
  @include vars.typography-body-xl;
  margin-bottom: 0;
}
