<div class="content">
  <sps-loading-spinner *ngIf="loading$ | async; else content">
  </sps-loading-spinner>
  <ng-template #content>
    <mat-table
      mat-table
      [dataSource]="data"
      class="table"
      matSort
      matSortDisableClear
      [matSortDirection]="(sorting$ | async)?.sortOrder || 'desc'"
      [matSortActive]="(sorting$ | async)?.sortBy || 'date'"
      (matSortChange)="sortChange($event)"
    >
      <ng-container
        [matColumnDef]="column.name"
        *ngFor="let column of tableColumns"
      >
        <ng-container *ngIf="column.sortable; else nonSortable">
          <mat-header-cell
            mat-header-cell
            mat-sort-header
            disableClear
            *matHeaderCellDef
            >{{ column.translation | translate }}</mat-header-cell
          >
        </ng-container>
        <ng-template #nonSortable>
          <mat-header-cell mat-header-cell *matHeaderCellDef>{{
            column.translation | translate
          }}</mat-header-cell>
        </ng-template>
        <mat-cell mat-cell class="table__cell" *matCellDef="let element">
          <ng-container *ngIf="column.name === 'status'; else plainContent">
            <sps-reservation-status-chip
              [status]="element[column.name]"
              [withText]="false"
            ></sps-reservation-status-chip>
          </ng-container>
          <ng-template #plainContent>
            {{ element[column.name] | translate }}
          </ng-template>
        </mat-cell>
      </ng-container>
      <mat-header-row
        mat-header-row
        *matHeaderRowDef="displayedColumns"
      ></mat-header-row>
      <mat-row
        class="table__row"
        (click)="reservationClicked.emit(row.id)"
        mat-row
        *matRowDef="let row; columns: displayedColumns"
      ></mat-row>
      <tr *matNoDataRow>
        <td colspan="4">No data</td>
      </tr>
    </mat-table>

    <sps-paginator
      *ngIf="paging$"
      [paging$]="paging$"
      [count$]="length$"
      [pageSize]="[5, 10, 15, 20]"
      (pagingChanged)="pagingChange.emit($event)"
    >
    </sps-paginator>
  </ng-template>
</div>
