<div class="content">
  <sps-loading-spinner *ngIf="loading$ | async; else content">
  </sps-loading-spinner>
  <ng-template #content>
    <table
      mat-table
      [dataSource]="data"
      class="table"
      matSort
      matSortDisableClear
      [matSortDirection]="(sorting$ | async)?.sortOrder || 'desc'"
      [matSortActive]="(sorting$ | async)?.sortBy || 'date'"
      (matSortChange)="sortChange($event)"
    >
      <ng-container
        [matColumnDef]="column.name"
        *ngFor="let column of tableColumns"
      >
        <ng-container *ngIf="column.sortable; else nonSortable">
          <th mat-header-cell mat-sort-header disableClear *matHeaderCellDef>
            {{ column.translation | translate }}
          </th>
        </ng-container>
        <ng-template #nonSortable>
          <th mat-header-cell *matHeaderCellDef>
            {{ column.translation | translate }}
          </th>
        </ng-template>
        <td mat-cell class="table__cell" *matCellDef="let element">
          <ng-container *ngIf="column.name === 'status'; else plainContent">
            <sps-reservation-status-chip
              [status]="element[column.name]"
              [withText]="false"
            ></sps-reservation-status-chip>
          </ng-container>
          <ng-template #plainContent>
            {{ element[column.name] | translate }}
          </ng-template>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        class="table__row"
        (click)="reservationClicked.emit(row.id)"
        mat-row
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
      <tr *matNoDataRow>
        <td colspan="4">No data</td>
      </tr>
    </table>

    <sps-paginator
      *ngIf="paging$"
      [paging$]="paging$"
      [count$]="length$"
      [pageSize]="[5, 10, 15, 20]"
      (pagingChanged)="pagingChange.emit($event)"
    >
    </sps-paginator>
  </ng-template>
</div>
