@use "../../../../variables" as vars;
.breadcrumbs {
  display: flex;
}
.breadcrumb__breadcrumbs {
  display: flex;
  align-items: center;
}
.breadcrumb__breadcrumbs--link {
  text-decoration: none;
  color:inherit;
  font-size: 1.5rem;
}
.breadcrumb__breadcrumbs--icon {
  align-self: center;
}
.faded {
  opacity: .75;
}
