<div class="parking-lots">
  <div class="parking-lots__spinner" *ngIf="parkingLotQuery.loading$ | async; else table">
    <mat-spinner></mat-spinner>
  </div>
  <ng-template #table>
    <sps-panel title="{{translations.PARKING_LOTS_TABLE_HEADER | translate}}">
      <button btn mat-raised-button color="primary" (click)="routerService.toCreateParkingLot()">
        <mat-icon>add</mat-icon>
        {{translations.ADD | translate}}
      </button>
      <sps-table class="parking-lots__table"
                 [loading$]="parkingLotQuery.loading$"
                 [buttons]="tableButtons"
                 [columns]="tableColumns"
                 [data]="parkingLots$()">
      </sps-table>
    </sps-panel>

  </ng-template>
</div>
