<div class="parking-lots">
  <div class="parking-lots__spinner" *ngIf="parkingLotQuery.selectLoading() | async; else table">
    <mat-spinner></mat-spinner>
  </div>
  <ng-template #table>
    <sps-panel title="{{translations.PARKING_LOTS_TABLE_HEADER | translate}}">
      <button btn mat-raised-button color="primary" (click)="routerService.toCreateParkingLot()">
        <mat-icon>add</mat-icon>
        {{translations.ADD | translate}}
      </button>
      <sps-parking-lots-table class="parking-lots__table"
                 [loading$]="parkingLotQuery.selectLoading()"
                 [tableButtons]="tableButtons"
                 [displayColumns]="['address', 'capacity', 'hours']"
                 [parkingLots$]="parkingLotQuery.selectAll()">
      </sps-parking-lots-table>
    </sps-panel>

  </ng-template>
</div>
