<div class="reservations" *ngIf="(driverQuery.select() | async) as driver">
  <sps-card class="reservations__card"
            [title]="translations.CONFIRM_TITLE"
            [subTitle]="translations.CONFIRM_PROMPT"
            [loading$]="driverQuery.selectLoading()"
            *ngIf="driver.pendingAction.length">
    <sps-number-chip chip>{{driver.pendingAction.length}}</sps-number-chip>
    <div>
      <div *ngFor="let reservation of driver.pendingAction">
        <sps-reservation-expansion-panel [reservation]="reservation" [expanded]="true">
          <div class="reservations__card--timer" timer>
            <sps-time-left
              [deadLine]="reservation.startTime"
              [caption]="translations.TIME_TO_CONFIRM | translate"
            >
            </sps-time-left>
          </div>
          <button mat-button color="warn"
                  (click)="onCancelReservation(reservation)">{{translations.CANCEL | translate}}</button>
          <button mat-button color="primary"
                  (click)="onConfirmReservation(reservation)">{{translations.CONFIRM_RESERVATION | translate}}</button>
        </sps-reservation-expansion-panel>
      </div>
    </div>
  </sps-card>
  <sps-card class="reservations__card"
            [title]="translations.DUE_NEXT"
            [subTitle]="translations.DUE_NEXT_PROMPT"
            [loading$]="driverQuery.selectLoading()"
            *ngIf="driver.dueNext.length">
    <sps-number-chip chip>{{driver.dueNext.length}}</sps-number-chip>
    <div>
      <div *ngFor="let reservation of driver.dueNext">
        <sps-reservation-expansion-panel [reservation]="reservation">
          <div class="reservations__card--timer" timer>
          </div>
          <button mat-button color="warn"
                  (click)="onCancelReservation(reservation)">{{translations.CANCEL | translate}}</button>
          <button (click)="onEditReservation(reservation)" mat-button
                  color="primary">{{translations.CHANGE_TIME | translate}}</button>
        </sps-reservation-expansion-panel>
      </div>
    </div>
  </sps-card>
</div>
<div>
  <sps-panel
    [title]="translations.RESERVATIONS | translate">
    <button btn
            mat-raised-button
            color="primary"
            (click)="routerService.toCreateReservation()">
      <mat-icon>add</mat-icon>
      {{translations.CREATE | translate}}
    </button>
    <sps-reservations-table
      [reservations$]="reservationsQuery.driverReservationHistory$()"
      [loading$]="reservationsQuery.selectLoading()"
      [length$]="reservationsQuery.count$()"
      (reservationClicked)="routerService.toDriverReservationDetails($event)"
      [displayColumns]="['licensePlate','time','date','status','parkingLotAddress']"
    ></sps-reservations-table>
  </sps-panel>

</div>
