<div class="reservations" *ngIf="(driver$ | async) as driver">
  <sps-card class="reservations__card"
            [title]="translations.CONFIRM_TITLE"
            [subTitle]="translations.CONFIRM_PROMPT"
            [loading$]="driverLoading$"
            *ngIf="driver.timeHorizon?.pendingAction as pendingAction">
    <sps-number-chip chip>{{pendingAction.length}}</sps-number-chip>
    <div>
      <div *ngFor="let reservation of pendingAction">
        <sps-reservation-expansion-panel [reservation]="reservation" [expanded]="true">
          <div class="reservations__card--timer" timer>
            <sps-time-left
              [deadLine]="reservation.startTime"
              [caption]="translations.TIME_TO_CONFIRM | translate"
            >
            </sps-time-left>
          </div>
          <button mat-button color="warn"
                  (click)="onCancelReservation(reservation)">{{translations.CANCEL | translate}}</button>
          <button mat-button color="primary"
                  (click)="onConfirmReservation(reservation)">{{translations.CONFIRM_RESERVATION | translate}}</button>
        </sps-reservation-expansion-panel>
      </div>
    </div>
  </sps-card>
  <sps-card class="reservations__card"
            [title]="translations.DUE_NEXT"
            [subTitle]="translations.DUE_NEXT_PROMPT"
            [loading$]="driverLoading$"
            *ngIf="driver.timeHorizon?.dueNext as dueNext">
    <sps-number-chip chip>{{dueNext.length}}</sps-number-chip>
    <div>
      <div *ngFor="let reservation of dueNext">
        <sps-reservation-expansion-panel [reservation]="reservation">
          <div class="reservations__card--timer" timer>
          </div>
          <button mat-button color="warn"
                  (click)="onCancelReservation(reservation)">{{translations.CANCEL | translate}}</button>
          <button mat-button
                  color="primary"
                  (click)="onEditReservation(reservation)"
          >{{translations.CHANGE_TIME | translate}}</button>
        </sps-reservation-expansion-panel>
      </div>
    </div>
  </sps-card>
</div>
<div>
  <sps-panel
    [title]="translations.RESERVATIONS | translate">
    <button btn
            mat-raised-button
            color="primary"
            (click)="toCreateReservation()">
      <mat-icon>add</mat-icon>
      {{translations.CREATE | translate}}
    </button>
    <sps-reservations-table
      [reservations$]="reservations$"
      [loading$]="reservationsLoading$"
      [length$]="reservationsCount$"
      (reservationClicked)="toDetails($event)"
      [displayColumns]="['licensePlate','time','date','status','parkingLotAddress']"
    ></sps-reservations-table>
  </sps-panel>

</div>
