<sps-loading-spinner *ngIf="(query.selectLoading() | async) else content"></sps-loading-spinner>
<ng-template #content>
  <sps-panel *ngIf="query.active$() | async as reservation"
             [title]="translations.RESERVATION_DETAILS | translate">
    <div class="section">
      <p class="section__header">{{translations.DATE_AND_TIME | translate}}</p>
      <div class="section__attribute">
        <mat-icon class="section__attribute--icon">schedule</mat-icon>
        <div class="section__attribute--value">
          {{reservation | time}}
        </div>
      </div>
      <div class="section__attribute">
        <mat-icon class="section__attribute--icon">calendar_month</mat-icon>
        <div class="section__attribute--value">
          {{reservation.date | spsDate }}
        </div>
      </div>
    </div>
    <div class="section">
      <p class="section__header">{{translations.PARKING_LOT | translate}}</p>
      <div class="section__attribute">
        <mat-icon class="section__attribute--icon">home</mat-icon>
        <div class="section__attribute--value">
          {{reservation | address}}
        </div>
      </div>
    </div>
    <div class="section">
      <p class="section__header">{{translations.VEHICLE | translate}}</p>
      <div class="section__attribute">
        <mat-icon class="section__attribute--icon">directions_car</mat-icon>
        <div class="section__attribute--value">
          {{reservation.licensePlate}}
        </div>
      </div>
    </div>
    <div class="section">
      <p class="section__header">{{translations.STATUS}}</p>
      <sps-reservation-status-chip class="section__attribute" [reservation]="reservation"></sps-reservation-status-chip>
    </div>
    <div class="actions" *ngIf="reservationsService.canBeChanged(reservation)">
      <button class="actions__confirm-button"
              mat-button
              color="primary"
              (click)="onConfirmReservation(reservation); routerService.toDriverReservations()"
              *ngIf="reservationsService.canBeConfirmed(reservation)">{{translations.CONFIRM_RESERVATION | translate}}
      </button>
      <button class="actions__edit-button"
              mat-button
              (click)="onEditReservation(reservation); routerService.toDriverReservations()">{{translations.CHANGE_TIME | translate}}</button>
      <button class="actions__cancel-button"
              mat-button
              color="warn"
              (click)="onCancelReservation(reservation); routerService.toDriverReservations()"
              *ngIf="reservationsService.canBeCancelled(reservation)">{{translations.CANCEL_RESERVATION | translate}}
      </button>
    </div>
  </sps-panel>
</ng-template>
