@use "../../variables" as vrs;
.auth {
  padding: 3rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
  max-width: vrs.$centered-elements-max-width;
  margin: 0 auto;
}

.auth__logo {
  align-self: center;
}
.auth__logo:hover {
  cursor: pointer;
}
