<div class="panel">
  <sps-card
    class="panel__card"
    [clickable]="true"
    [title]="translations.PARKING_TITLE"
    [subTitle]="translations.PARKING_SUBTITLE"
    routerLink="../{{links.PARKING}}">
  </sps-card>
  <sps-card
    class="panel__card"
    [title]="translations.RESERVATIONS_TITLE"
    [subTitle]="translations.RESERVATIONS_SUBTITLE"
    [clickable]="true"
    routerLink="../{{links.RESERVATIONS}}">
  </sps-card>
  <sps-card
    class="panel__card"
    [title]="translations.DRIVERS"
    [subTitle]="translations.DRIVERS_SUBTITLE"
    [clickable]="true"
    routerLink="../{{links.DRIVERS}}">
  </sps-card>
  <sps-card
    class="panel__card"
    [title]="translations.USERS_TITLE"
    [subTitle]="translations.USERS_SUBTITLE"
    [clickable]="true"
    routerLink="../{{links.USERS}}">
  </sps-card>
</div>

