@use "../../../../variables" as *;
.mat-toolbar.mat-primary.toolbar {
  background: $navbar-color;
}
.toolbar__title {
  flex: 1 1 auto;
}
.toolbar__logo {
  max-width: 85%;
  max-height: 85%;
}
.toolbar__languages {
  display: flex;
  align-items: center;
  gap: 5px
}
.toolbar__languages--flag {
  width: 33px;
  height: 25px;
  border:0.5px solid black;
}

