<div class="password-reset">
  <sps-heading size="l" [centered]="true">{{translations.FORGOT_PASSWORD | translate}}</sps-heading>
  <sps-text size="m" [centered]="true">{{translations.WE_CAN_RESET_PASSWORD | translate}}</sps-text>
  <div class="password-reset__form" [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label class="password-reset__form--label">{{translations.ENTER_EMAIL | translate}}</mat-label>
      <mat-icon matSuffix>email</mat-icon>
      <input class="password-reset__form--input" matInput required formControlName="email">
      <sps-form-error [control]="form.controls['email']"></sps-form-error>
    </mat-form-field>
    <button
      [disabled]="!form.valid"
      (click)="onSubmit()"
      class="password-reset__form--button"
      mat-raised-button
      color="primary">
      {{translations.RESET_BUTTON | translate}}
    </button>
    <div class="password-reset__footer">
      <sps-link class="password-reset__footer--remember-it"
                (click)="routerService.toSignIn()">{{translations.REMEMBER_IT | translate}}</sps-link>
      <sps-link class="password-reset__footer--no-account"
                (click)="routerService.toSignUp()">{{translations.DONT_HAVE_AN_ACCOUNT | translate}}</sps-link>
    </div>
  </div>
</div>
