@use "../../../variables" as vars;
.password-reset {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: vars.$form-max-width;
  margin: 0 auto;
}
.password-reset__form {
  display: flex;
  flex-direction: column;
  gap: vars.$form-elements-gap;

}
.password-reset__footer {
  display: flex;
  justify-content: space-between;
}
