<div class="password-reset">
  <sps-heading size="l" [centered]="true">Forgot your password?</sps-heading>
  <sps-text size="m" [centered]="true">We can resend the link to your email address to finish up creating your account.</sps-text>
  <div class="password-reset__form" [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Enter email</mat-label>
      <mat-icon matSuffix>email</mat-icon>
      <input matInput required formControlName="email">
    </mat-form-field>
    <button [disabled]="!form.valid" (click)="onSubmit()" class="password-reset__form--button" mat-raised-button color="primary">
      Reset
    </button>
    <div class="password-reset__footer">
      <sps-link (click)="navigationService.toSignIn()">Remember it ?</sps-link>
      <sps-link (click)="navigationService.toSignUp()">Don't have an account ?</sps-link>
    </div>
  </div>
</div>
