<div class="password-reset">
  <sps-heading size="l" [centered]="true">{{'AUTH.FORGOT_PASSWORD' | translate}}</sps-heading>
  <sps-text size="m" [centered]="true">{{'AUTH.WE_CAN_RESET_PASSWORD' | translate}}</sps-text>
  <div class="password-reset__form" [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>{{'AUTH.ENTER_EMAIL' | translate}}</mat-label>
      <mat-icon matSuffix>email</mat-icon>
      <input matInput required formControlName="email">
      <sps-form-error [control]="form.controls['email']"></sps-form-error>
    </mat-form-field>
    <button [disabled]="!form.valid" (click)="onSubmit()" class="password-reset__form--button" mat-raised-button
            color="primary">
      {{'AUTH.RESET_BUTTON' | translate}}
    </button>
    <div class="password-reset__footer">
      <sps-link (click)="navigationService.toSignIn()">{{'AUTH.REMEMBER_IT?' | translate}}</sps-link>
      <sps-link (click)="navigationService.toSignUp()">{{'AUTH.DONT_HAVE_AN_ACCOUNT?' | translate}}</sps-link>
    </div>
  </div>
</div>
