<div
  class="sign-up-form"
  [formGroup]="form">
  <sps-heading [centered]="true" size="l">Sign Up</sps-heading>
  <div class="sign-up-form__fields">
    <mat-form-field appearance="outline">
      <mat-label>Enter your email</mat-label>
      <mat-icon matSuffix>email</mat-icon>
      <input
        matInput
        required
        formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Enter your password</mat-label>
      <mat-icon matSuffix>password</mat-icon>
      <input
        matInput
        type="password"
        required
        formControlName="password">
    </mat-form-field>
  </div>
  <button [disabled]="!form.valid"
          (click)="onSubmit()"
          class="sign-up-form__button"
          mat-raised-button
          color="primary">
    Sign Up
  </button>
  <div class="sign-up-form__footer">
    <sps-link (click)="navigationService.toSignIn()">Already have an account ?</sps-link>
  </div>
  <div class="sign-up-form__disclaimer">
    <p>By submitting this form, you confirm that you have read and agree to the <span
      class="sign-up-form__disclaimer--terms">Terms & Conditions</span>.</p>
  </div>
</div>
