@use "../../../../variables" as vars;
.page-header {
  padding: 1rem 2rem;
  background: white;
  border-bottom: vars.$border-bottom;
}
.page-header__heading {
  display: flex;
  justify-content: space-between;
}
