@use "../../../../variables" as vars;


.details {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
  gap: 2rem;
  background: white;
  border-bottom: vars.$border-bottom;
}

.loading {
  padding-top: 10rem;
}

.loading__spinner {
  display: block;
  margin: 0 auto;
}

.attribute {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  gap: 0.5rem;
}

.attribute__heading {
  display: flex;
  gap: 1rem;
}

.attribute__heading--text {
  margin-bottom: 0;
  align-self: center;
  font-size: 1.2rem;
  font-weight: vars.$font-weight-bold;
}

.attribute__value {
  display: flex;
}

.attribute__value--text, .attribute__value--icon {
  font-size: 1.1rem;
  align-self: center;
  color: vars.$body-text-color;
}



