.page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.personal-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.personal-info__details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.personal-info__details--item {
  display: flex;
  align-content: center;
  gap: 1rem;
}
