<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button aria-label="Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <img class="toolbar__logo" src="assets/logo.svg" alt="">
  <span class="toolbar__title">Simple Parking System</span>
  <ng-container *ngIf="!!(authQuery.isLoggedIn$ | async)">
    <ng-container *ngIf="user$ | async as user">
      <span class="toolbar__hello-message" *ngIf="user.displayName">Hey, {{user.displayName}}</span>
    </ng-container>
    <div class="toolbar__tools">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onSignOut()">
          <mat-icon>logout</mat-icon>
          <span>Sign out</span>
        </button>
      </mat-menu>
    </div>
  </ng-container>
</mat-toolbar>
