<mat-accordion>
  <mat-expansion-panel (opened)="opened = true" (closed)="opened = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ parkingLot | address }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="lot-property">
      <mat-icon>schedule</mat-icon>
      <sps-text>
        {{ parkingLot | hours }}
      </sps-text>
    </div>
    <div class="lot-property">
      <mat-icon>event</mat-icon>
      <sps-text>
        {{ parkingLot | days }}
      </sps-text>
    </div>
    <mat-action-row>
      <ng-content></ng-content>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
