@use "../../../../variables" as vars;

$color-green: #4FFF70;
$color-red: #FE3C3C;
$color-grey: #9B9B9B;
$text-opacity: 0.8;
$background-opacity: 0.1;

@mixin chip-color($color) {
  color: rgba($color, $text-opacity);
  background: rgba($color, $background-opacity);
}

.color-green {
  @include chip-color($color-green)
}

.color-red {
  @include chip-color($color-red)
}

.color-grey {
  @include chip-color($color-grey)
}

.chip {
  font-weight: 600;
  padding: 0.25rem 1rem;
  border-radius: 3px;
  @include vars.elevation();
  display: flex;
  align-items: center;
  gap: 1rem;
}
.chip__text {
  color: black;
}
