@use "../../../variables" as vars;

.users {
  display: flex;
  flex-direction: column;
  background: white;
  margin: 2rem auto;
  max-width: 760px;
  width: 100%;
  padding: 3rem 1rem;
  align-items: center;
  @include vars.elevation;
}
.users__table {
  width: 100%;
}
.users__search {
  display: flex;
  gap: 2rem;
  padding-left: 24px;
  align-self: flex-start;
}
.users__table--cell {
  font-size: 0.8rem;
  text-align: left;
}
.users__spinner-container--spinner {
  margin: 2rem auto;
}
.users__pagination, .users__table {
  width: 100%;
}
