<sps-page-header
  [title]="translations.USERS_TITLE"
  [subTitle]="translations.USERS_SUBTITLE">
  <sps-breadcrumbs></sps-breadcrumbs>
</sps-page-header>
<div class="users">
  <div class="users__loading-spinner" *ngIf="usersQuery.loading$ | async; else table">
    <mat-spinner></mat-spinner>
  </div>
  <ng-template #table>
    <sps-table class="users__table"
               [buttons]="tableButtons"
               [columns]="tableColumns"
               heading="{{translations.USERS_TABLE_HEADER | translate}}"
               [data]="usersQuery.users$">
    </sps-table>
  </ng-template>
</div>

