<div class="sign-in">
  <sps-heading size="l" [centered]="true">Sign In</sps-heading>
  <div class="sign-in__form">
    <ng-container *ngIf="showEmailSignUp; else signInType">
      <sps-email-sign-in-form (submit)="onEmailSignIn($event)"
                              (back)="navigationService.toSameRoute()"
                              (noAccount)="navigationService.toSignUp()"
                              (forgotPassword)="navigationService.toPasswordReset()">
      </sps-email-sign-in-form>
    </ng-container>
  </div>
</div>
<ng-template #signInType>
  <button mat-raised-button
          color="primary"
          (click)="navigationService.toSameRoute( { fragment: 'email',queryParamsHandling: 'preserve' })">
    Sign in with email
  </button>
  <button mat-button
          color="primary"
          (click)="authService.signInWithGoogle()">
    Sign in with Google
  </button>
</ng-template>


