<div class="sign-in">
  <sps-heading size="l" [centered]="true">{{'AUTH.SIGN_IN_TITLE' | translate}}</sps-heading>
  <div class="sign-in__form">
    <ng-container *ngIf="showEmailSignUp; else signInType">
      <sps-email-sign-in-form (submit)="onEmailSignIn($event)"
                              (back)="navigationService.toSameRoute()"
                              (noAccount)="navigationService.toSignUp()"
                              (forgotPassword)="navigationService.toPasswordReset()">
      </sps-email-sign-in-form>
    </ng-container>
  </div>
</div>
<ng-template #signInType>
  <button mat-raised-button
          color="primary"
          (click)="navigationService.toSameRoute( { fragment: 'email',queryParamsHandling: 'preserve' })">
    {{'AUTH.SIGN_IN_WITH_EMAIL' | translate}}
  </button>
  <button mat-button
          color="primary"
          (click)="onGoogleSignIn()">
    {{'AUTH.SIGN_IN_WITH_GOOGLE' | translate}}
  </button>
</ng-template>


