@use 'node_modules/@angular/material' as mat;



/* Colors */
$body-text-color: #636B75;

$primary-palette: mat.define-palette(map_merge(mat.$blue-palette, (
  50: #F2F7FF,
  100: #E6EEFF,
  200: #ADC6FF,
  300: #85A5FF,
  400: #597EF7,
  500: #1890FF,
  600: #1D39C4,
  700: #10239E,
  800: #061178,
  900: #001529
)));
$secondary-palette: mat.define-palette(map_merge(mat.$deep-orange-palette, (
  50: #FFF2E8,
  100: #FFD8BF,
  200: #FFBB96,
  300: #FF9C6E,
  400: #FF7A45,
  500: #FA541C,
  600: #D4380D,
  700: #AD2102,
  800: #871400,
  900: #610B00
)));

$warn-palette: mat.define-palette(map_merge(mat.$red-palette, (
  50: #FFF1F0,
  100: #FFCCC7,
  200: #FFA39E,
  300: #FF7875,
  400:#FF4D4F,
  500:#F5222D,
  600: #CF1322,
  700: #A8071A,
  800: #820014,
  900: #5C0011,
)));
$navbar-color: #001529;

$color-primary: mat.get-color-from-palette($primary-palette);
$color-secondary: mat.get-color-from-palette($secondary-palette);
$color-warn: mat.get-color-from-palette($warn-palette);
$color-drawer-selected: mat.get-color-from-palette($primary-palette, 100);
$color-drawer-hover: mat.get-color-from-palette($primary-palette, 50);
$color-panel-background: mat.get-color-from-palette($primary-palette, 100);
$border-color: #838D95;
/* Dimensions */
$form-elements-gap: 1rem;
$centered-elements-max-width: 500px;
$form-max-width: 350px;
$border-bottom: 1px solid $border-color;

/* Typography */

// Weights
$font-weight-bold: 600;
$font-weight-normal: 400;



// Heading
@mixin heading-font-weight {
  font-weight: $font-weight-bold;
}

@mixin typography-heading-xl {
  @include heading-font-weight;
  font-size: 44px;
  line-height: 52px;
}

@mixin typography-heading-l {
  @include heading-font-weight;
  font-size: 36px;
  line-height: 44px;
}

@mixin typography-heading-m {
  @include heading-font-weight;
  font-size: 28px;
  line-height: 36px;
}

@mixin typography-heading-s {
  @include heading-font-weight;
  font-size: 24px;
  line-height: 32px;
}

// Body
@mixin body-font {
  font-weight: $font-weight-normal;
  color: $body-text-color;
}

@mixin typography-body-xl {
  @include body-font;
  font-size: 24px;
  line-height: 38px;
}

@mixin typography-body-l {
  @include body-font;
  font-size: 18px;
  line-height: 32px;
}

@mixin typography-body-m {
  @include body-font;
  font-size: 16px;
  line-height: 28px;
}

@mixin typography-body-s {
  @include body-font;
  font-size: 14px;
  line-height: 20px;
}

@mixin typography-body-xs {
  @include body-font;
  font-size: 12px;
  line-height: 16px;
}

/* Elevation */
@mixin elevation {
  @include mat.elevation(3);
}

@mixin card-with-table {
  display: flex;
  flex-direction: column;
  background: white;
  margin: 2rem;
  padding: 3rem 1rem;
  @include elevation;
}
