@use "../../../../variables" as vars;
.chip {
  display: flex;
  gap: 0.3rem;
  @include vars.chip-primary();
  border-radius: 3px;
  padding: 4px;
  justify-content: flex-end;
}
.chip__content {
  justify-self: flex-start;
}
