@use "../../variables" as vars;

.dashboard {
  display: flex;
}
.wrapper {
  background: vars.$color-panel-background;
}
.dashboard__content {
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
}

