@use "../../../../variables" as vars;
.create {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background: white;
  @include vars.elevation();
}

.stepper {
  max-width: 350px;

}

.stepper__form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}


