<h2 mat-dialog-title>{{ translations.CHANGE_TIME | translate }}</h2>
<mat-dialog-content>
  <div class="form" [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>{{ translations.DATE | translate }}</mat-label>
      <input
        matInput
        formControlName="date"
        [matDatepicker]="dp"
        [matDatepickerFilter]="data.dateValidator"
      />
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>
    <sps-hours-form formControlName="hours">
      <sps-form-error [control]="form.controls.hours"></sps-form-error>
    </sps-hours-form>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button class="close-button" (click)="dialogRef.close()">
    {{ translations.CANCEL | translate }}
  </button>
  <button
    mat-button
    color="primary"
    class="edit-button"
    mat-raised-button
    [disabled]="form.invalid || form.untouched || hoursNotChanged()"
    (click)="onEdit()"
  >
    {{ translations.ASSIGN | translate }}
  </button>
</mat-dialog-actions>
